<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aesthetic Space</title>
    <link rel="icon" href="/images/logo-black.svg" />
    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="logo header__logo" href="#">
            <img src="/images/logo.svg" alt="logo" />
          </a>
          <button class="header__btn btn">Order a consultation</button>
          <button class="menu">
            <img class="menu__btn" src="/images/menu.svg" alt="menu" />
          </button>
        </div>
      </div>
    </header>
  </body>
</html>
